services:
  - type: web
    name: eyeq-backend
    env: node
    region: oregon
    plan: free
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: eyeq-web
        sync: false
      - key: AIzaSyCp0PdBk9mEa_0kVQXQi_dVx5Aq5QqIVwY
        sync: false
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_ANON_KEY
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
